<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<a class="navbar-brand" href="#">Clinica</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" _mstaria-label="320099">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-link" href="http://localhost:3000/specialities">Especialidades</a>
    <a class="nav-link" href="http://localhost:3000/patients">Pacientes</a>
    <a class="nav-link" href="http://localhost:3000/consults">Consultas</a>
    <a class="nav-link" href="http://localhost:3000/doctors">Doctores</a>
  </div>
</div>
</div>
</nav>
